
body {
    background-color: lightskyblue;
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x:hidden;
}

.map {
    width: 95%;
    height: 400px;
    margin: auto;
}

h1 {
    font-size: xxx-large;
    background-color: #1c6db3;
    font-weight: bold;
    color: whitesmoke;
    font-style: italic;
    width:100%;
}

.card-body {
    background-color: white;
    color: black;
    align-items: center;
}

#currentCity {
    text-align: right;
    font-size: x-large;
    margin-right: 40px;
}

.cardRow {
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 20px;
}

#search {
    width: 25%;
    margin-left: 40px;
    margin-top: -30px;
}

.btn {

}

hr {
    height: 3px;
}

form {
    position: relative;
}

/*input {*/
/*    width: 100%;*/
/*    padding-right: 40px;*/
/*}*/

button {
    position: absolute;
    top: 0;
    right: 0;
}
